body {
  font-family: monospace;
  background-color: #FFF;
  padding-left: 10px;
}

div {
  color: black;
}
h1 {
  color: charcoal;
}

h2 {
  color: black;
}

.instructions {
  font-style: italic;
}

.group {

}

.quotes {
  padding-top: 10px;
}

.quote {
  font-size: 3em;
  color: black;
}

.author {
  font-size: 2.5em;
  font-style: italic;
  color: gray;
}

.btn {
  font-size: 1.5em
}

.main {
  text-align: center;
}

