
body {
  background-color: #444;
  padding-left: 10px;
}

div {
  color: orange;
}
h1 {
  color: orange;
}

h2 {
  color: green;
}

.group {

}

.quote {
  font-size: 2em;
  color: red;
}

.author {
  font-size: 1.9em;
  font-style: italic;
  color: blue;
}

.btn {

}

